*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

header,
footer,
section {
    border: 1px, solid;
    min-height: 20vh;
    width: 100%;
}

.section-wrapper {
    display: flex;
    min-height: 60vh;
    align-items: stretch;
}

section {
    min-height: 60vh;
    width: 50%;
    flex-grow: 0; /* Factor de Crecimiento  */
    flex-shrink: 1; /* Factor de encogimiento  */
    flex-basis: 30%; /* Factor de encogimiento  */
}
