/* Desktop first o diseño descendente

body {
    margin: 2rem;
    background-color: bisque;
}

@media (max-width: 800px) {
    body {
        background-color: brown;
    }
}

@media (max-width: 400px) {
    body {
        background-color: chocolate;
    }
} */

/* Mobile first o diseño ascendente */

:root {
    --font-base: "Roboto", sans-serif;
    --font-tech: "Chakra Petch", sans-serif;
}

body {
    font-family: var(--font-base);
    background-color: bisque;

    /* @media (width > 400px) {
        background-color: brown;
    } */
}

h1,
h2,
h3 {
    font-family: var(--font-tech);
    padding-block: 1rem;
}

img {
    margin: 0.5rem auto;
}

nav {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
}

header {
    background-color: brown;
    color: bisque;
    padding: 2px;
    nav {
        position: sticky;

        h1 {
            padding-block: 0;
            height: 4rem;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    [class*="fa-"] {
        font-size: 2rem;
    }
}

/* Opcion de desplazamiento a ocultación
{
position: absolute;
left: -10000
}
*/
.menu-tablet {
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: brown;
    text-align: center;
    padding-block-end: 1rem;
    width: 100%;
    padding-block: 1rem;
}

main {
    margin: 1.9rem 2rem;
}

.separator {
    width: 50%;
    margin: 2.5rem auto;
    border: 1px solid brown;
}

@media (width > 450px) {
    body {
        background-color: rgb(29, 211, 29);
    }

    .menu-header {
        flex-basis: 100%;
        h1 {
            text-align: center;
        }
    }

    header nav {
        ul {
            justify-content: space-evenly;
        }
    }
    .menu-mobile {
        display: none;
    }
    .menu-tablet {
        display: initial;
    }
}

@media (width > 560px) {
    body {
        background-color: rgb(153, 214, 250);
    }
}

@media (width > 600px) {
    body {
        background-color: rgb(153, 29, 184);
    }

    .articles-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
}
