/* Selector universal '*' */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 5px 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Selector individuales */
/* Selector por etiqueta */
p {
    width: 100px;
    height: 50px;
    padding: 20px;
    border: 1px solid;
    color: blue;
}

/* Selector por id */

#parrafo1 {
    width: 100px;
    height: 50px;
    padding: 20px;
    border: 1px solid;
    color: red;
}

/* Selector por clase */

.claparr {
    width: 100px;
    height: 50px;
    padding: 20px;
    border: 1px solid;
    color: rebeccapurple;
}

/* Selector por atributo */

[title] {
    width: 100px;
    height: 50px;
    padding: 20px;
    border: 1px solid;
    color: orangered;
}

[title="alert"] {
    width: 100px;
    height: 50px;
    padding: 20px;
    border: 1px solid;
    color: orangered;
    background-color: aqua;
}

/* operadores 
=  --> Es igual
^= --> Empieza
$= --> Termina
*= --> Contiene

*/

/* Alternativa por atributo a los id

[id="parrafo1"] {
    width: 100px;
    height: 50px;
    padding: 20px;
    border: 1px solid;
    color: orangered;
    background-color: aqua;
}

*/

/* Selector anidados */

section {
    & > p {
    }
}

/* Selector descendientes " " */
article p {
    text-decoration: underline;
}
/* Selector hijos  ">" */
article > p {
    text-decoration: background-color=grey;
}

/* Selector hermanos "~" */

/* Selector hermano siguiente "+" */

/* Anidamiento */

section {
    p {
        text-decoration: background-color=rgb(153, 10, 10);
    }
}

/* Selector pseudo clases ":" */

/* Selector pseudo Elemento "::" */

/* Selector section:has(.sport) las secciones que tienen descendientes que pertenecen a la clase .sport (Se selecciona 'section' y no a los descendientes de el ":has" */

/* Reset CSS
https://www.joshwcomeau.com/css/custom-css-reset/
*/
